* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    font-size: 0.8rem;
    list-style-type: none;
    margin: 0.4rem 0.5rem;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.5rem 0.45rem;
    margin: 0 0.05rem;
    text-decoration: none;
}

.navbar a:hover {
    color: yellow;
    background: green;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 5vw;
}

.photo-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-area > img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid #000;
}

.main-header > div {
    display: flex;
}

.main-header-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.photo-area {
    width: 40%;
}


.cv-title > h1 {
    font-size: 5rem;
    margin: 0;
    text-align: right;
}

.cv-title > h3 {
    margin-top: 0.5rem;
    text-align: right;
    font-size: 1.5rem;
}

.contacts-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contacts > ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    list-style-type: none;
    margin: 3rem 0;
}

.contacts > ul > li {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 0.5rem;
}

.contacts > ul > li > * {
    margin: 0;
}
.contacts > ul > li > h4 {
    padding-right: 1rem;
}